.square {
  height: 200px;
  width: 200px;
  margin: 20px auto;
  background-color: red;
}

#circle {
  height: 200px;
  width: 200px;
  margin: 20px auto;
  background-color: green;
  border-radius: 100px;
}
